:root {
    --body: linear-gradient(to right, #434343 0%, black 100%);
    --primary-colour: #595959;
    --secondary-colour: #C4C4C4;
    --text-colour: #f1e6e6; 
    --heading-font: 'Merriweather', serif;
    --text-font: 'Questrial', sans-serif;
    --box-shadow:  0 5px 10px rgba(118, 107, 107, 0.3);
    --bs-acordion-active-color: #fff !important;
}

body{
    background: var(--body);
    
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

span .text  {
    color: var(--secondary-colour);
}

p, footer {
   font-family: var(--text-font); 
}

p {
    font-size: 20px;
}

img {
    padding: 8px 8px;
    box-shadow: var(--box-shadow);
}

.intro {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
}

.text {
    color: var(--text-colour);
    
}

.text a {
    text-decoration: none;
    color: var(--secondary-colour);
}

.navbar {
    background: var(--body);
    font-family: var(--heading-font);
}

.underline {
    text-decoration: underline;
}

.accordion-button, .accordion-body {
    background: var(--body);
    font-family: var(--text-font);
    color: var(--text-colour);
}


.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
    font-style: italic;
}

.img-transform {
    border-radius: 12px;
    transition: transform 150ms ease-in-out;
}

.img-transform:hover {
    transform: scale(1.2);
}

.contact {
    font-size: 25px;
    font-family: var(--text-font);
}

@media (max-width: 575.98px) {
    p {
        font-size: 20px ;
    }

    footer {
        text-align: center;
        font-size: 14px;
    }

    img {
        display: block;
        margin: 30px auto;
        width: 50%;
    }
}